:root {
    --primary-color: #0b3d4a;
    --secondary-color: #f4a261;
    --accent1-color: #1d3557;
    --accent2-color: #e9c46a;
    --heading-font: Georgia, "Times New Roman", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,

footer {
    width: 840px;
    margin: 0 auto;
}

css header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    background-color: var(--primary-color);
    padding: 15px;
}

header img {
    width: 100px;
    height: auto;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 10px;
    background-color: #e9c46a;
}

header nav a {
    color: #0b3d4a !important;
    background-color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 15px;
    display: inline-block;
}

header nav a:hover {
    color: #ffffff !important;
    background-color: #0b3d4a;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: var(--accent2-color);
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero > img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.85;
    background-color: var(accent1color);
    color: white;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 15px;
}

.hero article img {
    float: right;
    width: 125px;
    margin: 0 0 10px 15px;
    border: 3px solid var(--primary-color);
}

section {
    padding: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    padding: 15px
}

footer p {
    margin: 0;
}

.socialmedia {
    display: flex;
    gap: 10px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 30px;
    height: 30px
}